:root {
  --color-foreground: #20262D;
  --color-background: #f5f6fa;
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  box-sizing: border-box;
}

#app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color:  inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}